
$dark: #333;

$rec-Blue: #0359AE;
$rec-Green: #14B09B;
$rec-Tan: #ebe5d9;
$rec-Brown: #CC8A56;


$bp-phone: 400px;
$bp-tablet: 900px;
$bp-computer: 1260px;

$font1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font2: 'Times New Roman', Times, serif;